mixin promo()
	+b.SECTION.promo
		+e.wrap
			+e.info
				+e.title Окна и двери в Донецке <span>Почувствуй качество</span>
				button.btn Связаться с нами
			+e.banner
				img(src="img/promo__banner.png")