mixin about()
	+b.SECTION.about
		+e.wrap
			.headline О компании
			+e.inner
				+e.banner
					img(src="img/about__banner.png")
				+e.info
					p ООО «Профипласт» является одним из крупнейших производителей светопрозрачных конструкций в Донецком регионе и предлагает Вам:
					p • алюминиевые конструкции (двери, витражи) <br> • балконные рамы, офисные перегородки <br> • подоконники, отливы, москитные сетки <br> • металлопластиковые окна, двери
					p ООО «Профипласт»  изготовит  для вас окна стандартных размеров для типовых квартир, мы выполним индивидуальные заказы на пластиковые окна в Донецке  и Донецкой области любой конфигурации для частных домов и коттеджей.
					p Будем рады сотрудничеству.

