// Файлы сторонних библиотек
@import 'https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css';

// Общие файлы стилей
@import 'common/variables.scss';
@import 'common/font.scss';
@import 'common/mixin.scss';
@import 'common/grid.scss';
@import 'common/scaffolding.scss';

// Стилевые файлы БЭМ-блоков
@import '../blocks/page-header/page-header.scss';
@import '../blocks/promo/promo.scss';
@import '../blocks/about/about.scss';
@import '../blocks/index-page/index-page.scss';
@import '../blocks/advantages/advantages.scss';
@import '../blocks/page-footer/page-footer.scss';
@import '../blocks/goods/goods.scss';
@import '../blocks/card-goods/card-goods.scss';
@import '../blocks/btn/btn.scss';
@import '../blocks/contacts/contacts.scss';
@import '../blocks/contacts-page/contacts-page.scss';
@import '../blocks/promo-base/promo-base.scss';
@import '../blocks/services-page/services-page.scss';
@import '../blocks/card-service/card-service.scss';
@import '../blocks/price-page/price-page.scss';
@import '../blocks/price/price.scss';
@import '../blocks/modal/modal.scss';