.card-service {
	display: inline-flex;
	align-items: flex-start;

	&__banner {
		width: 100%;
		max-width: 450px;
		min-width: 300px;
		height: 250px;
		margin-right: 50px;
		background: no-repeat center/cover;
	}

	&__info {

	}

	&__title {
		margin-bottom: 10px;
		font: 700 3rem/3rem $font-main;
	}

	&__descr {
		margin-bottom: 30px;
		font: 400 1.4rem/2rem $font-main;
	}

	&__btn {

	}

	@media screen and (max-width: 768px) {
		width: 100%;
		flex-direction: column;
		align-items: center;

		&__banner {
			margin-bottom: 20px;
			margin-right: 0;
			min-width: 250px;
			height: 200px;
		}

		&__info {
			width: 100%;
			max-width: 400px;
			text-align: center;
		}
	}
}