mixin page-header()
	+b.HEADER.page-header
		+e.wrap
			+e.logo
				img(src="img/logo.png")
			+e.mobile-switch 
				svg
					use(xlink:href="img/sprite.svg#menu")
			+e.NAV.nav
				+e.UL.nav-list
					+e.LI.nav-item
						a(href="index.html") Главная
					+e.LI.nav-item
						a(href="services.html") Услуги
					+e.LI.nav-item
						a(href="price.html") Цены
					+e.LI.nav-item
						a(href="contacts.html") Контакты
