.page-header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 50px;
	background-color: #2b3036;
	z-index: 5;

	& + section {
		margin-top: 50px;
	}

	&__wrap {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 100%;
	}

	&__logo {
		min-width: 160px;
	}

	&__mobile-switch {
		display: none;
		color: #fff;

		&:hover {
			cursor: pointer;
		}
		svg {
			width: 25px;
			height: 25px;
			fill: #fff;
		}
	}

	&__nav {


		&-list {

		}

		&-item {
			display: inline-block;

			&:not(:last-child) {
				margin-right: 45px;
			}

			a {
				opacity: 0.7;
				color: #f9f9fa;
				font-family: Roboto;
				font-size: 14px;
				font-weight: 400;
				line-height: 26px;

				&:hover {
					color: #fff;
					opacity: 1;
				}
			}
		}
	}

	@media screen and (max-width: 768px) {

		&__mobile-switch {
			display: block;
		}

		&__nav {
			display: none;

			&--active {
				position: fixed;
				top: 50px;
				left: 0;
				display: block;
				width: 100%;
				height: 100%;
				background-color: black;
			}

			&-list {
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				height: 100%;
			}

			&-item {
				display: inline-block;

				&:not(:last-child) {
					margin-right: 0;
					margin-bottom: 30px;
				}

				a {
					opacity: 0.9;
					color: #f9f9fa;
					font-family: Roboto;
					font-size: 16px;
					font-weight: 500;
					line-height: 26px;
					letter-spacing: 1px;

					&:hover {
						color: #fff;
						opacity: 1;
					}
				}
			}
		}
	}

}