mixin page-header()
	+b.HEADER.page-header
		+e.wrap
			+e.PICTURE.logo
				source(srcset="img/logo.png", media="(min-width: 992px)")
				img(src="img/logo-sm.png")
			//- img(src="img/logo.png")
			+e.mobile-switch X
			+e.NAV.nav
				+e.UL.nav-list
					+e.LI.nav-item
						a(href="/") Главная
					+e.LI.nav-item
						a(href="#") Услуги
					+e.LI.nav-item
						a(href="#") Цены
					+e.LI.nav-item
						a(href="#") Контакты
