mixin price()
	+b.price 
		+e.wrap
			+e.item
				.headline Окна
				+e.inner
					+e.banner
						img(src="img/price__banner.jpg")
					+e.info
						+e.info-item
							p Пластиковые окна 
							span Цена от 4980₽
						+e.info-item
							p Готовые окна	
							span Цена от 5980₽
						+e.info-item
							p Окна «под ключ»	
							span Цена от 4980₽
						+e.info-item
							p Остекление «по типу дома»	
							span Цена от 6980₽
						+e.info-item
							p Окна из дерева	
							span Цена от 2980₽
						+e.info-item
							p Окна для дачи	
							span Цена от 7980₽
						+e.info-item
							p Ламинированные окна	
							span Цена от 4980₽
						+e.info-item
							p Окна нестандартной формы
							span Цена от 7980₽
						+e.BUTTON.btn.btn Заказать рассчёт
			+e.item
				.headline Двери
				+e.inner
					+e.banner
						img(src="img/price__banner1.jpg")
					+e.info
						+e.info-item
							p Бульдорс-1
							span Цена от 6980₽
						+e.info-item
							p Бульдорс-10
							span Цена от 5980₽
						+e.info-item
							p Бульдорс-16
							span Цена от 4980₽
						+e.info-item
							p Бульдорс-12	
							span Цена от 6980₽
						+e.info-item
							p Бульдорс-15	
							span Цена от 2980₽
						+e.info-item
							p Бульдорс-17
							span Цена от 7980₽
						+e.info-item
							p Бульдорс-14	
							span Цена от 4980₽
						+e.BUTTON.btn.btn Заказать рассчёт

			+e.item
				.headline Другая продукция
				+e.inner
					+e.banner
						img(src="img/price__banner2.jpg")
					+e.info
						+e.info-item
							p Подоконники
							span Цена от 6980₽
						+e.info-item
							p Отливы
							span Цена от 5980₽
						+e.info-item
							p Стеклопакеты
							span Цена от 4980₽
						+e.info-item
							p Жалюзи
							span Цена от 6980₽
						+e.info-item
							p Москитные сетки
							span Цена от 2980₽
						+e.BUTTON.btn.btn Заказать рассчёт








