mixin goods()
	+b.goods
		+e.wrap
			.headline топ предложения
			+e.list
				+card-goods('img/card-goods__banner.png', 'Кухня стандарт', 'от 4700р')
				+card-goods('img/card-goods__banner1.png', 'Спальня стандарт', 'от 4700р')
				+card-goods('img/card-goods__banner2.png', 'Дом стандарт', 'от 4700р')
