extends ../layout/layoutBase.pug

block content
	+b.contacts-page
		+page-header()
		+promo-base('img/promo-bg--contacts.jpg', 'Контакты', 'Cвяжитесь с нами если вам необходима консультация или вы желаете обратиться к представителям компании с предложением.')
		+contacts()
		+page-footer()
