extends ../layout/layoutBase.pug

block content
	+b.price-page
		+page-header()
		+promo-base('img/promo-bg--price.png', 'Цены', 'Наши клиенты всегда получают лучшее качество и сервис по доступной цене.')
		+price()
		
		+page-footer()
