extends ../layout/layoutBase.pug

block content
	+b.price-page
		+page-header()
		+promo-base('../img/promo-bg--price.png', 'Цены', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam pariatur blanditiis minima eos amet in placeat quisquam, commodi, eius minus.')
		+price()
		
		+page-footer()
