extends ../layout/layoutBase.pug

block content
	+b.services-page
		+page-header()
		+promo-base('img/promo-bg--service.jpg', 'Услуги', 'Благодаря богатому профессиональному опыту наший сотрудников наши клиенты получают лучшее качество. ')
		+e.list
			+e.wrap
				+card-service('img/card-service__banner.jpg', 'Замер', 'Замер оконного проёма под пластиковое окно является обязательным и очень ответственным мероприятием, так как точность этих замеров определяет правильный монтаж и успешную эксплуатацию окна. Вы должны понимать, что даже в типовом многоквартирном доме необходимо производить замеры оконного проёма под пластиковое окно, ведь они могут отличаться, а также могут быть проёмы неправильной формы или с неравномерной толщиной стен. Наши специалисты грамотно сделают замер, учитывая все особенности и изъяны вашего оконного проёма, что позволит избежать неприятностей с пластиковым окном в будущем.')
				+card-service('img/card-service__banner1.jpg', 'Установка окон', 'Металлопластиковые окна по своим физико-механическим свойствам отличаются от традиционных деревянных окон. В частности, они герметичнее, чувствительнее к летне-зимним колебаниям температур. Профиль ПВХ имеет большую гибкость, чем алюминиевый профиль или деревянный брус того же сечения. А потому установка металлопластиковых окон должна быть особенно качественной. Чтобы они работали долго и безотказно, необходимо, чтобы монтаж был выполнен точно и добросовестно, с соблюдением всех технических требований.')
				+card-service('img/card-service__banner2.jpg', 'Ремонт окон', 'Срок службы металлопластиковых окон напрямую зависит от правильного ухода за ними. Поэтому очень важно вовремя осуществлять ремонт Вашего окна. Наша компания всегда готова выполнить ремонт пластиковых окон, заменить поврежденные элементы или установить новые. Мы предоставляем только качественные услуги в самые короткие сроки.')
		+page-footer()
