extends ../layout/layoutBase.pug

block content
	+b.services-page
		+page-header()
		+promo-base('url', 'Услуги', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam pariatur blanditiis minima eos amet in placeat quisquam, commodi, eius minus.')
		+e.list
			+e.wrap
				+card-service('http://www.oknakomforta.ru/img3/tjoplyj-montazh/montazh_k2.jpg', 'Lorem ipsum dolor.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum magni vero ex libero fugiat aliquid modi est exercitationem consectetur unde expedita corrupti odit, commodi, adipisci incidunt repellendus quae, mollitia laborum!')
				+card-service('http://www.oknakomforta.ru/img3/tjoplyj-montazh/montazh_k2.jpg', 'Lorem ipsum dolor.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum magni vero ex libero fugiat aliquid modi est exercitationem consectetur unde expedita corrupti odit, commodi, adipisci incidunt repellendus quae, mollitia laborum!')
				+card-service('http://www.oknakomforta.ru/img3/tjoplyj-montazh/montazh_k2.jpg', 'Lorem ipsum dolor.', 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum magni vero ex libero fugiat aliquid modi est exercitationem consectetur unde expedita corrupti odit, commodi, adipisci incidunt repellendus quae, mollitia laborum!')
		+page-footer()
