mixin page-footer
	+b.FOOTER.page-footer
		+e.wrap
			+e.col
				+e.title Услуги
				+e.link
					a(href="price.html") Замер
				+e.link
					a(href="price.html") Установка окон
				+e.link
					a(href="price.html") Ремонт окон
			+e.col
				+e.title Информация
				+e.P.info Режим работы: <br> ПН-ПТ  с <span>10:00 до 18:00</span> <br> без перерывов. <br> СБ, ВС - с <span>8:00 до 18:00</span>
			+e.col
				+e.title Адрес
				+e.P.adds г. Донецк <br> рынок Текстильщик <br>ориентир ТЦ Обжора
			+e.col
				+e.title Контакты
				+e.tel
					a(href="tel:+38 (095) 322-90-21") +38 (095) 322-90-21
				+e.tel
					a(href="tel:+38 (071) 326 22 72") +38 (071) 326-22-72
				+e.tel
					a(href="tel:+38 (095) 767-84-12") +38 (095) 767-84-12
				+e.tel
					a(href="tel:+38 (071) 361-54-12") +38 (071) 361-54-12
		+e.copyright
			p &copy;2018 Профипласт-дн


