.contacts {
	padding-top: 50px;

	&__wrap {
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 30px;
	}

	&__info {
		width: 50%;

	}

	&__item {
		display: flex;
		align-items: center;

		&:not(:last-child) {
			margin-bottom: 10px;
		}

		&-icon {
			margin-right: 10px;

			svg {
				width: 20px;
				height: 20px;
				fill: $red;
			}
		}

		&-text {

		}
	}

	&__map {
		width: 50%;

	}

}