mixin advantages()
	+b.SECTION.advantages
		+e.wrap
			.headline преимущества
			+e.list
				+e.item
					+e.icon
						svg
							use(xlink:href="img/sprite.svg#key")
					+e.P.descr Окна от <br> производителей
				+e.item
					+e.icon
						svg
							use(xlink:href="img/sprite.svg#medical-history")
					+e.P.descr оперативный <br> расчет стоимости
				+e.item
					+e.icon
						svg
							use(xlink:href="img/sprite.svg#like")
					+e.P.descr качественный <br> монтаж
				+e.item
					+e.icon
						svg
							use(xlink:href="img/sprite.svg#medal")
					+e.P.descr Гарантия
				+e.item
					+e.icon
						svg
							use(xlink:href="img/sprite.svg#glove")
					+e.P.descr большой <br> выбор