.advantages {
	padding-top: 50px;
	padding-bottom: 75px;
	background-color: #f6f7f9;

	&__wrap {

	}

	&__list {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		margin-top: 35px;
	}

	&__item {
		text-align: center;
	}

	&__icon {
		display: inline-flex;
		width: 140px;
		height: 140px;
		margin-bottom: 20px;
		border-radius: 50%;
		background-color: #fff;

		svg {
			width: 90px;
			height: 90px;
			margin: auto;
			fill: $red;
		}
	}

	&__descr {
		font: 400 1.6rem/1.8rem $font-main;
		text-transform: uppercase;
		text-align: center;
		color: $black;
	}

	@media screen and (max-width: 992px) {

		&__icon {
			width: 100px;
			height: 100px;

			svg {
				width: 50px;
				height: 50px;
			}
		}
	}

	@media screen and (max-width: 768px) {

		&__list {
			flex-wrap: wrap;
		}

		&__item {
			width: 50%;
			margin-bottom: 30px;

			&:last-child {
				width: 100%;
				margin-bottom: 0;
			}
		}

		&__descr {
			font-size: 1.2rem;
		}
	}

}