.card-goods {
	width: 100%;
	max-width: 260px;
	text-align: center;

	&__banner {
		margin-bottom: 20px;
	}

	&__title {
		margin-bottom: 10px;
		font: 600 1.6rem/1.6rem $font-main;
		color: $black;
		text-transform: uppercase;
	}

	&__price {
		margin-bottom: 20px;
		font: 400 1.4rem/1.4rem $font-main;
		color: $black;
	}
}