[class*="wrap"] {
  max-width: 1200px;
  min-width: 320px;
  margin: auto;

  @media screen and (max-width: 1200px) {
    padding: 0 20px;
  }

  @media screen and (max-width: 768px) {
    padding: 0 10px;
  }
}